<div class="container tipo-producto-container">
    <div class="row col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-add-solitudes">
            <h3 class="text-update-solicitudes">Editar Categoria de Productos</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="container-form-editar-tipo-producto container">
            <form method="POST" action="/tipo_producto/editarproducto/{{tipe_product.id_tipe_product}}"
                class="col-md-6 editar-tipo-producto-form">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Categoria de Producto</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Titulo categoria de producto" name="titulo_tipo_producto"
                        value="{{tipe_product.titulo_tipo_producto}}" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripcion de categoria de producto</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="descripcion_tipo_producto" required>{{tipe_product.descripcion_tipo_producto}}</textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-success">
                        Agregar categoria de producto
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>