<div class="box-container">
    <div class="card-body dashboard">
        <h3> Comparte por una vida</h3>
    </div>
    <div class="box-container-row">
        <div class="card lista-solicitud-ayuda"></div>
        <div class="card card-1 cartas-ayuda"></div>
    </div>
    <div class="box-container-row">
        <div class="card card-2 lista-donaciones"></div>
        <div class="card card-3 solicitudes-proveedores"></div>
    </div>
</div>