<div class="container p-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card text-center">
                <div class="card-body">
                    <h3> Comparte por una vida
                    {{!-- <br>
                    <strong>{{user.fullname}}</strong></h3>
                    <h4>{{user.username}}</h4> --}}
                    {{!-- <a href="/edti" class="btn btn-primary m-4">
                        Save your link
                    </a> --}}
                </div>
            </div>
        </div>
    </div>
</div>