<div class="container p-4">
    <div class="row">
        <div class="col-md-9 mx-auto form-style">
            <div class="card text-center box-shadow">
                <div class="card-header">
                    <p class="text-ayuda">Solicitud de Donacion</p>
                </div>
                <div class="card-body">

                    <form action="/solicitud_proveedores/proveedoresForm" method="POST">

                        <div class="form-group">
                            <input type="text" name="nombre_proveedor" id="" placeholder="Nombre Completo"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="text" name="direccion_proveedor" placeholder="Ubicación" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono_proveedor" placeholder="Teléfono" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="mail" name="correo_proveedor" placeholder="Correo" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="mail" name="empresa_proveedor" placeholder="Empresa (opcional)"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="razon_proveedor"
                                placeholder="Escribenos el por que quieres donar algo a la fundacion"
                                class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Enviar Solicitud para donacion
                            </button>
                        </div>
                        <div class="form-group" style="visibility: hidden">
                            <input type="number" name="id_tipo_usuario" id="" placeholder="id_tipo_usuario"
                                class="form-control" value="4">
                        </div>
                        <div class="form-group" style="visibility: hidden">
                            <input type="number" name="id_status" id="" placeholder="id_status" class="form-control"
                                value="1">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Comparte por una Vida</h1>
            <h3 class="mb-5">
                <em>Un niño hace la diferencia</em>
            </h3>
            <a href="https://comparteporunavida.com/" class="btn btn-primary" target="_blank">¿Quieres conocer más?, haz
                clic aquí</a>
        </div>
    </header>
</main>
