<div class="container index-container">
    <div class="row index">
        <div class="col-md-12 mx-auto form-style">
            <div class="card text-center box-shadow index">
                <div class="card-header">
                    <p class="text-ayuda">Solicitud de Donacion</p>
                </div>
                <div class="card-body">

                    <form action="/solicitud_proveedores/proveedoresForm" method="POST">

                        <div class="form-group">
                            <input type="text" name="contacto" id="" placeholder="Nombre Completo" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="ubicacion_solicitante" placeholder="Ubicación"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" placeholder="Teléfono" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="correo" placeholder="Correo" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="nombre_solicitante" placeholder="Empresa (opcional)"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <textarea name="razon_proveedor"
                                placeholder="Escribenos el por que quieres donar algo a la fundacion"
                                class="form-control" onkeyup="countChars(this);" maxlength="900" required></textarea>
                                <p id="charNum">900 characters remaining</p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Enviar Solicitud para donacion
                            </button>
                        </div>
                        <div class="hidden-inpur-index">
                            <div class="form-group" style="visibility: hidden">
                                <input type="number" name="id_tipo_usuario" id="" placeholder="id_tipo_usuario"
                                    class="form-control" value="4">
                            </div>
                            <div class="form-group" style="visibility: hidden">
                                <input type="number" name="id_status" id="" placeholder="id_status" class="form-control"
                                    value="1">
                            </div>
                        </div>
                        <div class="form-group" style="visibility: hidden">
                            <input type="number" name="id_tipo_solicitud" id="" placeholder="id_tipo_solicitud"
                                class="form-control" value="1">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Comparte por una Vida</h1>
            <h3 class="mb-5">
                <em>Un niño hace la diferencia</em>
            </h3>
            <a href="https://comparteporunavida.com/" class="btn btn-primary" target="_blank">¿Quieres conocer más?, haz
                clic aquí</a>
        </div>
    </header>
</main>