<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <img src="/img/logo_gris.png" alt="" class="img-logo-menu-navbar logo-footer">
        <p>ESCRÍBENOS A: <br> INFO@COMPARTEPORUNAVIDA.COM</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">La Fundación</h5>
        <ul class="menu-list-footer">
          <a href="" class="list-footer-redirect"><li class="list-redirect-footer">¿CÓMO AYUDAR?</li></a>
          <a href="" class="list-footer-redirect"><li class="list-redirect-footer">COLOMBIA</li></a>
          <a href="" class="list-footer-redirect"><li class="list-redirect-footer">TIENDA</li></a>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://comparteporunavida.com/"> SWCPUV </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->