{{#if user}}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link nav-link" href="#">Usuarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tipo de producto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Solicitud de registro</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Ayuda</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Donaciones</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Proveedores</a>
  </li>
</ul>
{{/if}}