<nav class="navbar navbar-expand-lg navbar-light bg-light main-horizontal-menu">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/img/logo_gris.png" alt="" class="img-logo-menu-navbar"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">{{user.username}}</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="https://comparteporunavida.com/la-fundacion/" class="nav-link">La fundación</a>
        </li>
        <li class="nav-item">
          <a href="https://comparteporunavida.com/como-ayudar/" class="nav-link">¿Como ayudar?</a>
        </li>
        <li class="nav-item">
          <a href="https://comparteporunavida.com/colombia/" class="nav-link">Colombia</a>
        </li>
        <li class="nav-item">
          <a href="https://comparte-por-una-vida.myshopify.com/" class="nav-link">Tienda</a>
        </li>
        <li class="nav-item li-donar-redirect">
          <a href="/proveedores/proveedoresForm" class="nav-link">Donar</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>