{{!--Vista de formulario de registro--}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Agregar usuario Nuevo</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="fullname" placeholder="Nombre Completo" class="form-control"
                                autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" id="" placeholder="Username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre_razon" placeholder="Nombre (hospital, casa hogar, colegio)"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Seleccione</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" name="id_tipo_usuario">
                                    {{#each tipo_usuario}}
                                    <option value="{{id_tipo_usuario}}">{{descripcion_tipo_usuario}}</option>
                                    {{/each}}
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" placeholder="Telefono" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="correo" placeholder="Correo electronico" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccion" placeholder="Direccion" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01" name="avatar_image">
                                <label class="custom-file-label" for="inputGroupFile01">Subir Imagen...</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Registrar Usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>