<div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-add-user">
        <h3 class="text-update-user">Actualizar Usuario</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item btn btn-primary" href="/signup">Agreagar Usuario<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
    <div class="row form-subcontainer-user">
        <div class="col-md-6 text-center center-block form-usr-conatiner-update">

            <div class="card text-center">
                <div class="card-header">
                    <img src="/img/user.png" alt="" class="img-logo-menu-navbar user-img">
                </div>
                <div class="card-body">
                    <form method="GET" action="user">
                        <div class="form-row">
                            <div class="col-6 p-2 ">
                                <input type="text" class="form-control" placeholder="Andrés ">
                            </div>
                            <div class="col-6 p-2">
                                <input type="text" class="form-control" placeholder="Salazar">
                            </div>
                            <div class="col-6 p-2">
                                <input type="text" class="form-control" placeholder="asalazar">
                            </div>
                            <div class="col-6 p-2">
                                <input type="email" class="form-control" placeholder="asalazar@analiticom.com">
                            </div>
                            <div class="col-6 p-2">
                                <input type="text" class="form-control" placeholder="0412548548">
                            </div>
                            <div class="col-6 p-2">
                                <input type="text" class="form-control" placeholder="Simon Rodriguez">
                            </div>
                            <div class="col-6 p-2">
                                <input type="text" class="form-control" placeholder="Desarrollador">
                            </div>

                            <div class="form-group col-12 p-2">
                                <button class="btn btn-success btn-block">
                                    Actualizar usuario
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>