<table class="table p-4">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
             <th scope="col">Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr>  
            <td><a href="/users/updateuser">Andres Salazar</a></td>
            <td>asalazar@analiticom.com</td>
            <td>0412548548</td>
            <td>Desarrolador</td>
            
        </tr>
        <tr> 
           <td><a href="/users/updateuser">Andres Salazar</a></td>
            <td>asalazar@analiticom.com</td>
            <td>0412548548</td>
            <td>Desarrolador</td>
        </tr>
        <tr>
            <td><a href="/users/updateuser">Andres Salazar</a></td>
            <td>asalazar@analiticom.com</td>
            <td>0412548548</td>
            <td>Desarrolador</td>
        </tr>
    </tbody>
</table>